@model ScryFallManager.Entities.Legalidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Legalidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carta.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
